/node_modules
/public/hot
/public/storage
/public/documents
/storage/*.key
/.idea
/.vagrant
/.phpintel
/public/img/events
/public/img/members
/public/img/partners
/public/img/slides
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
